{% extends "base.html" %} {% block title %} Sign Out | World Cup Hub 2026 {% endblock %} {% block content %}

<section class="container py-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-5">
      <div class="auth-panel text-center">
        <i class="fa-solid fa-right-from-bracket auth-icon"></i>

        <h1 class="mb-3">Sign Out</h1>

        <p class="lead">Are you sure you want to sign out of World Cup Hub 2026?</p>

        <p class="mb-4">You will need to log in again to make predictions, view your account and access Pontoon.</p>

        <form method="post">
          {% csrf_token %}

          <div class="mobile-button-stack">
            <button type="submit" class="wc-btn-danger me-sm-2">
              <i class="fa-solid fa-right-from-bracket"></i>
              Sign Out
            </button>

            <a href="{% url 'home' %}" class="wc-btn-outline">
              <i class="fa-solid fa-house"></i>
              Cancel
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}
